<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MONGO" class="ch.qos.logback.contrib.mongodb.MongoDBLoggingEventAppender">
        <uri>mongodb://root:191024abc@192.168.31.140:27017/admin.adminlog</uri>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="console" />
        <appender-ref ref="MONGO" />
    </root>
</configuration>