<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MONGO" class="ch.qos.logback.contrib.mongodb.MongoDBLoggingEventAppender">
        <uri>mongodb://root:191024abc@dds-2zea904862f26cb41.mongodb.rds.aliyuncs.com:3717,dds-2zea904862f26cb42.mongodb.rds.aliyuncs.com:3717/admin.adminlog?replicaSet=mgset-1075163</uri>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="console" />
        <appender-ref ref="MONGO" />
    </root>
</configuration>