<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"
	default-lazy-init="true">

	<description>Shiro安全配置</description>


    <!-- 項目自定义的Realm, 所有accountService依赖的dao都需要用depends-on声明 -->
    <bean id="shiroDbRealm" class="cn.martin.shiro.realm.ShiroDbRealm"></bean>

    <bean id="shiroCasRealm" class="cn.martin.shiro.realm.ShiroCasRealm">
        <property name="casServerUrlPrefix" value="https://sso.wsria.com:8443/cas"/>
        <property name="casService" value="https://client.wsria.com:9443/shiro_app/cas" />
    </bean>


	<!-- Shiro's main business-tier object for web-enabled applications -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<!--<property name="realm" ref="shiroDbRealm" />-->
        <property name="realm" ref="shiroCasRealm" />
		<property name="cacheManager" ref="shiroEhcacheManager" />
	</bean>

    <bean id="casFilter" class="org.apache.shiro.cas.CasFilter">
        <property name="failureUrl" value="/casFailure"/>
    </bean>

    <bean id="urlMatchingFilter" class="cn.martin.shiro.filter.UrlMatchingFilter" init-method="init">
    </bean>

	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<!--<property name="loginUrl" value="/login" />-->
        <property name="loginUrl" value="https://sso.wsria.com:8443/cas/login?service=https://client.wsria.com:9443/shiro_app/cas" />
		<property name="successUrl" value="/" />
        <property name="filters">
            <map>
                <entry key="url" value-ref="urlMatchingFilter"/>
                <entry key="cas" value-ref="casFilter"/>
            </map>
        </property>
        <property name="filterChainDefinitions">
			<value>
				/login = authc
				/logout = logout
				/static/** = anon
                /casFailure = anon
                /cas = cas
				/** = authc,url
			</value>
		</property>

	</bean>

	<!-- 用户授权信息Cache, 采用EhCache -->
	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:ehcache/ehcache-shiro.xml" />
	</bean>

	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

</beans>